<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All product</title>
</head>
<body>
    <h1>All product</h1>
    <table style="border: 1;">
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Price</td>
        </tr>
        {{#each danhsach}}
        <tr>
            <td>{{id}}</td>
            <td>{{name}}</td>
            <td>{{price}}</td>
        </tr>
        {{/each}}
    </table>
</body>
</html>